<%- include("header") %>

    <div class="watched-ent-head">
        <h1 class="watched-ent-head-h1">Your Watchlist</h1>
        <p class="watched-ent-head-desc">Eveything you want to watch in one place.</p>
    </div>

    <div class="watch-list-container">
        <div class="popular-ents row">

            <% watchlist.forEach(function(element) { %>
                <div class="col-lg-2 col-md-3 col-sm-6 clickThisDiv">
                    <form class="recommended-ent" action="/entertainments" method="post">
                        <input type="hidden" class="hiddenSearchName" name="mal_id" value="<%=element.mal_id%>">
                        <img class="popular-anime" src="<%=element.poster%>" alt="aot-img">
                        <div class="ent-about">
                            <p class="pop-ent-desc">
                                <%=element.name%>
                            </p>
                        </div>
                    </form>
                    <div class="delete-ent">
                        <form class="delete-ent-form" action="/delete-watchlist-ent" method="post">
                            <input class="ent-to-delete-name" type="hidden" name="deleteEntName"
                                value="<%=element.name%>">
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <script>
        $(".popular-ents").on('click', '.clickThisDiv', function () {
            $(this).find(".recommended-ent").submit();
        });
    </script>

    <%- include("footer") %>