<%- include('header') %>


<div class="watched-ent-head">
    <h1 class="watched-ent-head-h1">Your Watch History</h1>
    <!-- <p class="watched-ent-head-desc">Eveything you have watched in one place.</p> -->
</div>

<div class="modal fade" id="ModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark">New</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="newAnimeForm" class="new-watched-ent-form" action="/watchedList" method="post">
                <div class="modal-body">
                    <input class="new-watched-ent-name" type="text" placeholder="Name" name="watchedEntName"
                        autocomplete="off" required>
                    <div class="input-grid">
                        <input class="new-watched-ent-desc" type="text" placeholder="Season/Part" name="info"
                            autocomplete="off">
                        <input class="new-watched-ent-date" type="date" name="dateOfWatch">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button id="addAnimeBtn" type="submit" class="btn btn-sm btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="table-bar">
    <div class="row-nums-displayer"><%=watchedList.length%> Rows</div>
    <button class="add-anime-btn" data-bs-toggle="modal" data-bs-target="#ModalAdd">
        <span>New</span>
        <span><i class="fa-solid fa-plus"></i></span>
    </button>
</div>

<!-- Main Content -->
<div class="table-watch-history">
    <table>
        <thead>
            <th>Number</th>
            <th>Name</th>
            <th>Additional Information</th>
            <th>Date of Watch</th>
            <th>Options</th>
        </thead>
        <tbody>
            <% watchedList.slice().reverse().forEach(function(element){ %>
            <tr>
                <td data-label="Number">
                    <%=watchedList.indexOf(element) + 1%>
                </td>
                <td data-label="Name">
                    <%=element.name%>
                </td>
                <td class="additional-info" data-label="Additional Information">
                    <%=element.additionalInfo%>
                </td>
                <td class="date-of-watch" data-label="Date of Watch">
                    <%=element.dateOfWatch%>
                </td>
                <td data-label="" class="buttons-row">
                    <button class="edit-btn" data-bs-toggle="modal"
                        data-bs-target="#Modal<%=watchedList.indexOf(element) + 1%>" +>Edit</button>
                    <!-- Modal -->
                    <div class="modal fade" id="Modal<%=watchedList.indexOf(element) + 1%>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">Edit</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="form<%=watchedList.indexOf(element) + 1%>" class="new-watched-ent-form"
                                        action="/update-watch-history" method="post">
                                        <input type="hidden" value="<%=element.name%>" name="originalName">
                                        <input type="hidden" value="<%=watchedList.indexOf(element)%>" name="index">
                                        <input value="<%=element.name%>" class="new-watched-ent-name" type="text"
                                            placeholder="Name" name="watchedEntName" autocomplete="off" required>
                                        <div class="input-grid">
                                            <input value="<%=element.additionalInfo%>" class="new-watched-ent-desc"
                                                type="text" placeholder="Season/Part" name="info" autocomplete="off">
                                            <input value="<%=element.dateOfWatch%>" class="new-watched-ent-date"
                                                type="date" name="dateOfWatch">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-outline-dark"
                                        data-bs-dismiss="modal">Close</button>
                                    <button id="<%=watchedList.indexOf(element) + 1%>" type="button"
                                        class="btn btn-sm btn-dark save-changes-btn">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="/delete-watched-ent" method="post">
                        <input type="hidden" name="watchedEntToDelete" value="<%=element.name%>">
                        <input type="hidden" name="index" value="<%=watchedList.indexOf(element)%>">
                        <button class="delete-watched-ent-btn" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script>
    // Send Request to Edit watched Entertainment
    $('.save-changes-btn').on('click', function (e) {
        e.preventDefault();
        $("#form" + this.id).submit();
    })

    // $("#addAnimeBtn").on('click', function(e) {
    //     e.preventDefault();
    //     $("#newAnimeForm").submit();
    // })
</script>

<%- include('footer') %>